Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

.gitlab-ci.yml:

image: docker:git

services:
  - docker:dind

stages:
  - lint
  - build
  - deploy

before_script:
  - if [ -z "${REGISTRY_USER_NAME}" ]; then REGISTRY_USER_NAME=gitlab-ci-token; fi
  - if [ -z "${REGISTRY_SECRET}" ]; then REGISTRY_SECRET=${CI_JOB_TOKEN}; fi
  - docker login -u ${REGISTRY_USER_NAME} -p ${REGISTRY_SECRET} ${CI_REGISTRY}

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
    - cd frontend
    - npm install
  script:
    - npm run lint .
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      changes:
      - frontend/**/*

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
    - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - frontend/**/*

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
    - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - backend/**/*

deploy:
  stage: deploy
  image: alpine:latest
  environment:
    name: prod
    url: https://liquiswiss.devs-group.ch/
  before_script:
    - apk add curl
  script:
    - sh ./.deploy/deploy.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

Update README, add env examples, load sendgrid template id from env and add test pipeline
  .env.example
  .gitlab-ci.yml
  .readme/sendgrid.png
  README.md
  backend/.env.example
  backend/Makefile
  backend/config/config.go
  backend/internal/service/sendgrid_service.go
  backend/pkg/models/mail.go
  backend/pkg/utils/constants.go
  frontend/.env.example
Due: lint-nuxt, build-nuxt, build-backend

Add link to landing page in README
  README.md
Due: none

Update README
  README.md
Due: none

Remove mocks.sql hint in Makefile
  backend/Makefile
Due: build-backend

Remove deprecated production section in README
  README.md
Due: none

Add Github workflow
  .github/workflows/ci.yml
Due: none

Rework Github actions to use official runners
  .deploy/deploy.sh
  .github/workflows/ci.yml
Due: none

Remove gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Use fiat rate when calculating salary forecast
  backend/internal/api/handlers/forecasts.go
Due: build-backend

Add cycle to employee histories
  backend/internal/api/handlers/employees.go
  backend/internal/api/handlers/forecasts.go
  backend/internal/api/handlers/organisations.go
  backend/internal/db/migrations/20241221222752_add_cycle_to_employee_history.sql
  backend/internal/db/migrations/20241221225110_rename_salary_per_month_to_salary.sql
  backend/internal/service/db_service.go
  backend/internal/service/queries/create_employee_history.sql
  backend/internal/service/queries/get_employee.sql
  backend/internal/service/queries/get_employee_history.sql
  backend/internal/service/queries/list_employee_history.sql
  backend/internal/service/queries/list_employees.sql
  backend/main.go
  backend/pkg/models/employee.go
  backend/pkg/models/employee_history.go
  backend/pkg/utils/time.go
  frontend/components/EmployeeCard.vue
  frontend/components/EmployeeHeaders.vue
  frontend/components/EmployeeHistoryCard.vue
  frontend/components/EmployeeRow.vue
  frontend/components/dialogs/EmployeeHistoryDialog.vue
  frontend/composables/useEmployees.ts
  frontend/models/employee.ts
  frontend/utils/types.ts
Due: lint-nuxt, build-nuxt, build-backend

Show currency in employee list view
  frontend/components/EmployeeRow.vue
Due: lint-nuxt, build-nuxt

Ensure save buttons have the same severity
  frontend/components/dialogs/EmployeeDialog.vue
  frontend/components/dialogs/EmployeeHistoryDialog.vue
  frontend/components/dialogs/OrganisationDialog.vue
  frontend/components/dialogs/VatDialog.vue
  frontend/pages/employees/[id]/index.vue
  frontend/pages/settings/organisations/[id].vue
Due: lint-nuxt, build-nuxt

Fix editing VAT
  frontend/components/dialogs/VatDialog.vue
  frontend/interfaces/dialog-interfaces.ts
Due: lint-nuxt, build-nuxt

Delete and ignore .vscode directory
  .gitignore
  backend/.gitignore
  backend/.vscode/launch.json
Due: build-backend

Remove unused file
  backend/config/config.json
Due: build-backend

Update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: lint-nuxt, build-nuxt

Prevent layout shift when changing organisation
  frontend/composables/useAuth.ts
Due: lint-nuxt, build-nuxt

Update README.md
  README.md
Due: none

Add integration tests
  .github/workflows/ci.yml
  .gitignore
  README.md
  backend/.env.github.testing
  backend/.env.local.testing
  backend/internal/api/handlers/auth_test.go
  backend/internal/api/handlers/employee_histories_test.go
  backend/internal/api/handlers/employee_history_costs_test.go
  backend/internal/api/handlers/employees_test.go
  backend/internal/api/handlers/main_test.go
  backend/internal/api/handlers/users_test.go
  docker-compose.yml
Due: build-backend

Consider once cycle for deduction calculation
  backend/internal/db/migrations/00024_create-function_calculate_salary_adjustments.sql
Due: build-backend

Show date when a once history cost is executed and make sure CostDialog shows correct locale format
  frontend/components/EmployeeHistoryCostCard.vue
  frontend/components/dialogs/EmployeeHistoryCostDialog.vue
Due: lint-nuxt, build-nuxt

Add command line options to run different actions on app start
  backend/.air.toml
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: build-backend

Replace command line idea with static and dynamic migration flow
  README.md
  backend/Makefile
  backend/internal/api/handlers/main_test.go
  backend/internal/db/migrations/dynamic/00001_create-function_get_current_user_organisation.sql
  backend/internal/db/migrations/dynamic/00002_create-function_calculate_next_history_execution_date.sql
  backend/internal/db/migrations/dynamic/00003_create-function_calculate_cost_execution_date.sql
  backend/internal/db/migrations/dynamic/00004_create-function_calculate_next_cost.sql
  backend/internal/db/migrations/dynamic/00005_create-view_ranked_histories.sql
  backend/internal/db/migrations/dynamic/00006_create-function_calculate_salary_adjustments.sql
  backend/internal/db/migrations/dynamic/00007_create-function_calculate_employee_cost_amount.sql
  backend/internal/db/migrations/dynamic/00008_create-function_calculate_vat_amount.sql
  backend/internal/db/migrations/static/00001_create-table_registrations.sql
  backend/internal/db/migrations/static/00002_create-table_currencies.sql
  backend/internal/db/migrations/static/00003_create-table_organisations.sql
  backend/internal/db/migrations/static/00004_create-table_users.sql
  backend/internal/db/migrations/static/00005_create-table_refresh_tokens.sql
  backend/internal/db/migrations/static/00006_create-table_users_2_organisations.sql
  backend/internal/db/migrations/static/00007_create-table_categories.sql
  backend/internal/db/migrations/static/00008_create-table_employees.sql
  backend/internal/db/migrations/static/00009_create-table_vats.sql
  backend/internal/db/migrations/static/00010_create-table_transactions.sql
  backend/internal/db/migrations/static/00011_create-table_employee_histories.sql
  backend/internal/db/migrations/static/00012_create-table_forecasts.sql
  backend/internal/db/migrations/static/00013_create-table_bank_accounts.sql
  backend/internal/db/migrations/static/00014_create-table_fiat_rates.sql
  backend/internal/db/migrations/static/00015_create-table_forecast_details.sql
  backend/internal/db/migrations/static/00016_create-table_reset_password.sql
  backend/internal/db/migrations/static/00017_create-table_employee_history_cost_labels.sql
  backend/internal/db/migrations/static/00018_create-table_employee_history_cost.sql
  backend/main.go
  backend/pkg/logger/logger.go
Due: build-backend

Add integration tests for EmployeeHistoryCostDeductions
  backend/internal/api/handlers/employee_history_costs_test.go
Due: build-backend

Add IF EXIST to refresh_tokens migration
  backend/internal/db/migrations/static/00005_create-table_refresh_tokens.sql
Due: build-backend

Show total again in CostCard
  frontend/components/EmployeeHistoryCostCard.vue
Due: lint-nuxt, build-nuxt

Improve calculating cost execution date and next cost and add more integration tests
  backend/internal/api/handlers/employee_histories_test.go
  backend/internal/api/handlers/employee_history_costs_test.go
  backend/internal/db/migrations/dynamic/00003_create-function_calculate_cost_execution_date.sql
  backend/internal/db/migrations/dynamic/00004_create-function_calculate_next_cost.sql
Due: build-backend

Add tests for currencies about order and organisation dependence
  backend/internal/api/handlers/currencies_test.go
Due: build-backend

Make sure actions run also on pull requests
  .github/workflows/ci.yml
Due: none

Update 00010_create-function_get_current_organisation_currency_id.sql
  backend/internal/db/migrations/dynamic/00010_create-function_get_current_organisation_currency_id.sql
Due: build-backend

Upgrade due to CVE-2024-45337 and CVE-2024-45338
  backend/go.mod
  backend/go.sum
Due: build-backend

Show salary cost details with toggle option
  backend/internal/api/handlers/forecasts.go
  backend/internal/service/forecast_service/forecast_service.go
  backend/pkg/models/forecast.go
  frontend/components/NestedForecastCategory.vue
  frontend/composables/useSettings.ts
  frontend/models/forecast.ts
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Adjust tests to changes
  backend/internal/api/handlers/currencies_test.go
  backend/internal/service/mocks/db_service.go
Due: build-backend

Increase currency tables description VARCHAR limit and update fixtures
  backend/internal/db/migrations/static/00020_alter_table_currencies_increase_description_varchar_length.sql
  backend/internal/service/db_service/fixtures/0001_currencies.sql
Due: build-backend

Run Actions only for pull requests or on push to main
  .github/workflows/ci.yml
Due: none

Remove pagination from currency endpoint and load all currencies this way
  backend/internal/api/handlers/currencies.go
  backend/internal/api/handlers/employee_history_costs_test.go
  backend/internal/service/db_service/currencies.go
  backend/internal/service/db_service/db_service.go
  backend/internal/service/db_service/queries/list_currencies.sql
  backend/internal/service/fixer_io_service/fixer_io_service.go
  frontend/composables/useGlobalData.ts
Due: lint-nuxt, build-nuxt, build-backend
