Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

.gitlab-ci.yml:

image: docker:git

services:
  - docker:dind

stages:
  - lint
  - build
  - deploy

before_script:
  - if [ -z "${REGISTRY_USER_NAME}" ]; then REGISTRY_USER_NAME=gitlab-ci-token; fi
  - if [ -z "${REGISTRY_SECRET}" ]; then REGISTRY_SECRET=${CI_JOB_TOKEN}; fi
  - docker login -u ${REGISTRY_USER_NAME} -p ${REGISTRY_SECRET} ${CI_REGISTRY}

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
    - cd frontend
    - npm install
  script:
    - npm run lint .
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      changes:
      - frontend/**/*

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
    - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - frontend/**/*

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
    - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - backend/**/*

deploy:
  stage: deploy
  image: alpine:latest
  environment:
    name: prod
    url: https://liquiswiss.devs-group.ch/
  before_script:
    - apk add curl
  script:
    - sh ./.deploy/deploy.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

Show correct suffix and format on salary cost depending on amount type
  frontend/components/dialogs/SalaryCostDialog.vue
  frontend/pages/employees/[id]/index.vue
Due: lint-nuxt, build-nuxt

Improve termination in salaries
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/queries/get_employee.sql
  backend/internal/adapter/db_adapter/queries/list_employees.sql
  backend/pkg/models/employee.go
  frontend/components/EmployeeCard.vue
  frontend/components/SalaryCard.vue
  frontend/components/dialogs/SalaryDialog.vue
  frontend/models/employee.ts
  frontend/pages/employees/[id]/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Ensure forecast range can't go below 1
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt

WIP: Improve forecast scrolling behavior
  frontend/app.vue
  frontend/components/NestedForecastCategory.vue
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt

Fix showing salary costs in current month from past month
  backend/internal/adapter/db_adapter/queries/list_salary_cost_details.sql
  backend/internal/adapter/db_adapter/queries/upsert_salary_cost_detail.sql
  backend/internal/adapter/db_adapter/salary_cost_detail.go
  backend/internal/api/handlers/salary_costs.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/db/migrations/static/00026_alter-table_salary_cost_details.sql
  backend/internal/mocks/api_service.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/salary.go
  backend/internal/service/api_service/salary_cost.go
  backend/pkg/models/salary_cost_detail.go
Due: build-backend

Improve salary costs and overlapping and add more tests
  backend/internal/adapter/db_adapter/salary.go
  backend/internal/api/handlers/salaries_test.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/service/api_service/salary.go
  backend/internal/service/api_service/salary_cost.go
Due: build-backend

Add possibility to copy salary costs from another employee
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/delete_salary_costs_by_salary.sql
  backend/internal/adapter/db_adapter/salary_cost.go
  backend/internal/api/handlers/salary_costs.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/salary_cost.go
  backend/pkg/models/salary_cost.go
  frontend/components/dialogs/SalaryCostCopyDialog.vue
  frontend/components/dialogs/SalaryCostCopyOtherDialog.vue
  frontend/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/models/employee.ts
  frontend/utils/format-helper.ts
Due: lint-nuxt, build-nuxt, build-backend

Allow to base salary costs on other salary costs
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/helper.go
  backend/internal/adapter/db_adapter/queries/copy_salary_cost.sql
  backend/internal/adapter/db_adapter/queries/create_salary_cost.sql
  backend/internal/adapter/db_adapter/queries/delete_salary_cost_base_links.sql
  backend/internal/adapter/db_adapter/queries/get_salary_cost.sql
  backend/internal/adapter/db_adapter/queries/insert_salary_cost_base_link.sql
  backend/internal/adapter/db_adapter/queries/list_salary_cost_base_ids.sql
  backend/internal/adapter/db_adapter/queries/update_salary_cost.sql
  backend/internal/adapter/db_adapter/salary_cost.go
  backend/internal/adapter/db_adapter/salary_cost_detail.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/db/migrations/static/00027_create-table_salary_cost_base_links.sql
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/salary_cost.go
  backend/pkg/models/salary_cost.go
  frontend/components/dialogs/SalaryCostDialog.vue
  frontend/models/employee.ts
Due: lint-nuxt, build-nuxt, build-backend

Allow to enable / disable salaries and transactions
  Agents.md
  backend/internal/adapter/db_adapter/queries/create_salary.sql
  backend/internal/adapter/db_adapter/queries/create_transaction.sql
  backend/internal/adapter/db_adapter/queries/get_salary.sql
  backend/internal/adapter/db_adapter/queries/get_transaction.sql
  backend/internal/adapter/db_adapter/salary.go
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/db/migrations/dynamic/00002_create-view_ranked_salaries.sql
  backend/internal/db/migrations/static/00028_alter-table_transactions_add_is_disabled.sql
  backend/internal/db/migrations/static/00029_alter-table_salaries_add_is_disabled.sql
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/salary.go
  backend/pkg/models/salary.go
  backend/pkg/models/transaction.go
  frontend/components/SalaryCard.vue
  frontend/components/TransactionCard.vue
  frontend/components/TransactionHeaders.vue
  frontend/components/TransactionRow.vue
  frontend/composables/useTransactions.ts
  frontend/models/employee.ts
  frontend/models/transaction.ts
  frontend/pages/employees/[id]/index.vue
  frontend/tailwind.config.js
Due: lint-nuxt, build-nuxt, build-backend

Allow to multi exclude/include forecasts before saving them and triggering a recalculation
  Agents.md
  backend/internal/api/handlers/forecasts.go
  backend/internal/api/router.go
  backend/internal/mocks/api_service.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/pkg/models/forecast.go
  frontend/components/NestedForecastAmount.vue
  frontend/components/NestedForecastCategory.vue
  frontend/composables/useForecasts.ts
  frontend/pages/index.vue
  frontend/server/api/forecasts/exclude/index.put.ts
Due: lint-nuxt, build-nuxt, build-backend

Update go dependencies
  backend/go.mod
  backend/go.sum
Due: build-backend

Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: lint-nuxt, build-nuxt

Update to newer Go and Node version
  .deploy/backend/Dockerfile
  .deploy/nuxt/Dockerfile
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

Fix Hydration issues and adjust grid col responsiveness
  frontend/app/components/SalaryCard.vue
  frontend/app/components/TransactionCard.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/pages/bank-accounts/index.vue
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt

Fix wrong server time display and try to display last calculation date via SSR
  frontend/app/app.vue
  frontend/app/pages/index.vue
Due: lint-nuxt, build-nuxt

Fix losing toDate when disabling a Transaction
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/api/handlers/transactions_test.go
Due: build-backend

Run jobs only on changes
  .github/workflows/ci.yml
Due: none

Fix losing cycle, employee and vat when disabling a Transaction
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/api/handlers/transactions_test.go
Due: build-backend

Fix to allow to copy salary costs from expired salaries
  backend/internal/api/handlers/salaries_test.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/salary.go
  backend/pkg/models/salary.go
  frontend/app/components/SalaryCard.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/models/employee.ts
  frontend/app/utils/models/salary-utils.ts
Due: lint-nuxt, build-nuxt, build-backend

Allow to copy salary costs from an employee to itself
  frontend/app/components/dialogs/SalaryCostCopyOtherDialog.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
Due: lint-nuxt, build-nuxt

Copy salary costs along with a salary copy
  frontend/app/components/dialogs/SalaryDialog.vue
Due: lint-nuxt, build-nuxt

Smarter salary cloning
  frontend/app/components/dialogs/SalaryDialog.vue
Due: lint-nuxt, build-nuxt

Fix pipeline deploying on a single pipeline
  .github/workflows/ci.yml
  README.md
Due: none

REVERT ME: Change to test if a single pipeline triggers a push and deploy
  backend/internal/api/handlers/transactions_test.go
Due: build-backend

Add hints and change button style
  frontend/app/components/SalaryCard.vue
  frontend/app/components/dialogs/SalaryCostCopyDialog.vue
Due: lint-nuxt, build-nuxt

Revert "REVERT ME: Change to test if a single pipeline triggers a push and deploy"
  backend/internal/api/handlers/transactions_test.go
Due: build-backend

Fix date display
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/utils/date-helper.ts
  frontend/app/utils/format-helper.ts
Due: lint-nuxt, build-nuxt

Fix blocking same date while editing salary
  frontend/app/components/dialogs/SalaryDialog.vue
Due: lint-nuxt, build-nuxt

Redesign buttons and positions
  frontend/app/components/SalaryCard.vue
  frontend/app/components/SalaryCostCard.vue
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
Due: lint-nuxt, build-nuxt

Set separate salary costs as a default by removing it
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/queries/create_salary.sql
  backend/internal/adapter/db_adapter/queries/get_employee.sql
  backend/internal/adapter/db_adapter/queries/get_salary.sql
  backend/internal/adapter/db_adapter/queries/list_employees.sql
  backend/internal/adapter/db_adapter/salary.go
  backend/internal/api/handlers/salaries_test.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/db/migrations/dynamic/00002_create-view_ranked_salaries.sql
  backend/internal/db/migrations/static/00020_alter_table_currencies_increase_description_varchar_length.sql
  backend/internal/db/migrations/static/00030_alter-table_salaries_drop_with_separate_costs.sql
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/salary.go
  backend/pkg/models/employee.go
  backend/pkg/models/salary.go
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/models/employee.ts
Due: lint-nuxt, build-nuxt, build-backend

Fix endless loop in frontend when backend is down
  frontend/app/middleware/auth.global.ts
Due: lint-nuxt, build-nuxt

Display salary cost distribution more visually
  frontend/app/components/SalaryCostCard.vue
Due: lint-nuxt, build-nuxt

Add salary cost distribution for both, employer and employee at the same time
  backend/internal/db/migrations/dynamic/00006_update-view_ranked_salaries_add_both_distribution.sql
  backend/internal/db/migrations/static/00031_alter-table_salary_costs_add_both_distribution.sql
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/helper.go
  backend/internal/service/api_service/helper_test.go
  backend/pkg/models/salary_cost.go
  backend/pkg/utils/validations.go
  frontend/app/components/SalaryCostCard.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/config/enums.ts
  frontend/app/utils/enum-helper.ts
  frontend/app/utils/models/salary-cost-utils.ts
Due: lint-nuxt, build-nuxt, build-backend

Fix go test down migration issue with missing tables
  backend/internal/api/handlers/main_test.go
  backend/internal/db/migrations/static/00031_alter-table_salary_costs_add_both_distribution.sql
Due: build-backend

Fix pushing image if one out of 2 previous jobs fail
  .github/workflows/ci.yml
Due: none

Ensure salary costs depending on both distributed costs are properly calculated
  backend/internal/adapter/db_adapter/helper.go
  backend/internal/api/handlers/salary_costs_test.go
Due: build-backend

Refactor a bit
  backend/internal/adapter/db_adapter/helper.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/helper.go
  backend/internal/service/api_service/salary.go
  backend/pkg/models/salary_cost.go
Due: build-backend

Fix the ranked salaries view
  backend/internal/db/migrations/dynamic/00002_create-view_ranked_salaries.sql
  backend/internal/db/migrations/dynamic/00006_update-view_ranked_salaries_add_both_distribution.sql
Due: build-backend
