Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

.gitlab-ci.yml:

image: docker:git

services:
  - docker:dind

stages:
  - lint
  - build
  - deploy

before_script:
  - if [ -z "${REGISTRY_USER_NAME}" ]; then REGISTRY_USER_NAME=gitlab-ci-token; fi
  - if [ -z "${REGISTRY_SECRET}" ]; then REGISTRY_SECRET=${CI_JOB_TOKEN}; fi
  - docker login -u ${REGISTRY_USER_NAME} -p ${REGISTRY_SECRET} ${CI_REGISTRY}

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
    - cd frontend
    - npm install
  script:
    - npm run lint .
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      changes:
      - frontend/**/*

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
    - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - frontend/**/*

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
    - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - backend/**/*

deploy:
  stage: deploy
  image: alpine:latest
  environment:
    name: prod
    url: https://liquiswiss.devs-group.ch/
  before_script:
    - apk add curl
  script:
    - sh ./.deploy/deploy.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

Add query param persistence and external change banners to all dialogs
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/SalaryCostLabelDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/components/dialogs/VatDialog.vue
  frontend/app/composables/useTransactions.ts
  frontend/app/pages/bank-accounts/index.vue
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/employees/index.vue
  frontend/app/pages/organisation.vue
  frontend/app/pages/settings/organisations.vue
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt

Suppress own-action notifications and centralize realtime handling in useRealtimeChanges
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryCostLabelDialog.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/components/dialogs/VatDialog.vue
  frontend/app/composables/useRealtimeChanges.ts
  frontend/app/pages/bank-accounts/index.vue
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/employees/index.vue
  frontend/app/pages/organisation.vue
  frontend/app/pages/settings/organisations.vue
  frontend/app/pages/transactions/index.vue
  frontend/app/plugins/fetchInterceptor.ts
  frontend/app/plugins/sse.client.ts
Due: lint-nuxt, build-nuxt

Update realtime test checklist with verified coverage
  docs/plans/realtime-test-checklist.md
Due: none

Add token expiry stream close test and mark lifecycle behavior tests verified
  backend/internal/api/handlers/events_test.go
  docs/plans/realtime-test-checklist.md
Due: build-backend

Add category delete conflict handling, transaction reassignment and inUse flag to backend and MCP
  backend/internal/adapter/db_adapter/category.go
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/get_category.sql
  backend/internal/adapter/db_adapter/queries/list_categories.sql
  backend/internal/adapter/db_adapter/queries/reassign_transactions_category.sql
  backend/internal/api/handlers/categories.go
  backend/internal/api/handlers/categories_isolation_test.go
  backend/internal/api/router.go
  backend/internal/mcp/server.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/category.go
  backend/pkg/models/category.go
Due: build-backend

Add category management UI with reassign-before-delete flow and inUse chips
  docs/plans/realtime-test-checklist.md
  frontend/app/assets/css/tailwind.css
  frontend/app/components/dialogs/CategoryDialog.vue
  frontend/app/components/dialogs/CategoryReassignDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/composables/useCategories.ts
  frontend/app/interfaces/dialog-interfaces.ts
  frontend/app/models/category.ts
  frontend/app/pages/organisation.vue
  frontend/app/plugins/sse.client.ts
Due: lint-nuxt, build-nuxt

Use compact dialog size for category, VAT, cost label and invite dialogs
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/pages/organisation.vue
Due: lint-nuxt, build-nuxt

Update commit guidelines to require grouped commits and no unprompted pushes
  CLAUDE.md
Due: none

Read server-computed own flag in frontend and drop client-side own detection
  frontend/app/plugins/fetchInterceptor.ts
  frontend/app/plugins/sse.client.ts
  frontend/app/utils/realtime-client-id.ts
Due: lint-nuxt, build-nuxt

Skip form resets and highlight effects for own realtime events to avoid stale refetch races
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/organisation.vue
  frontend/app/plugins/sse.client.ts
Due: lint-nuxt, build-nuxt

Skip label flash in salary cost dialog for own realtime changes
  frontend/app/components/dialogs/SalaryCostDialog.vue
Due: lint-nuxt, build-nuxt

Re-enable Escape close for dialogs with dirty-state confirm and sessionStorage draft restore
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/CategoryDialog.vue
  frontend/app/components/dialogs/CategoryReassignDialog.vue
  frontend/app/components/dialogs/EmployeeDialog.vue
  frontend/app/components/dialogs/InviteMemberDialog.vue
  frontend/app/components/dialogs/OrganisationDialog.vue
  frontend/app/components/dialogs/SalaryCostCopyDialog.vue
  frontend/app/components/dialogs/SalaryCostCopyOtherDialog.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryCostLabelDialog.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/components/dialogs/VatDialog.vue
  frontend/app/composables/useDialogGuard.ts
Due: lint-nuxt, build-nuxt

Disable dialog save buttons while form is not dirty
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/CategoryDialog.vue
  frontend/app/components/dialogs/EmployeeDialog.vue
  frontend/app/components/dialogs/InviteMemberDialog.vue
  frontend/app/components/dialogs/OrganisationDialog.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryCostLabelDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/components/dialogs/VatDialog.vue
Due: lint-nuxt, build-nuxt

Ignore whitespace-only edits in dirty checks via trim-aware comparison
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/CategoryDialog.vue
  frontend/app/components/dialogs/EmployeeDialog.vue
  frontend/app/components/dialogs/InviteMemberDialog.vue
  frontend/app/components/dialogs/OrganisationDialog.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryCostLabelDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/components/dialogs/VatDialog.vue
  frontend/app/composables/useTrimmedDirty.ts
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/organisation.vue
Due: lint-nuxt, build-nuxt

Trim submitted form values, fix Escape confirm race and exempt prefilled termination dialog from dirty gate
  frontend/app/components/dialogs/BankAccountDialog.vue
  frontend/app/components/dialogs/CategoryDialog.vue
  frontend/app/components/dialogs/EmployeeDialog.vue
  frontend/app/components/dialogs/InviteMemberDialog.vue
  frontend/app/components/dialogs/OrganisationDialog.vue
  frontend/app/components/dialogs/SalaryCostLabelDialog.vue
  frontend/app/components/dialogs/SalaryDialog.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/composables/useDialogGuard.ts
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/organisation.vue
  frontend/app/pages/settings/profile/index.vue
  frontend/app/utils/trim-helper.ts
Due: lint-nuxt, build-nuxt

Remove completed realtime test checklist
  docs/plans/realtime-test-checklist.md
Due: none

Fix resent invitations expiring instantly by converting expiry columns to DATETIME
  backend/internal/api/handlers/invitation_test.go
  backend/internal/db/migrations/static/00043_alter-table_fix_timestamp_expiry_columns.sql
Due: build-backend

Gate E2E fixtures behind TESTING_ENVIRONMENT so they never seed real environments
  backend/internal/db/migrations/testing/10001_apply_e2e_test_fixtures.sql
  backend/main.go
Due: build-backend

Return 401 instead of 500 for failed logins and use a shared invalid-credentials error
  backend/internal/api/handlers/auth.go
  backend/internal/api/handlers/auth_test.go
  backend/internal/api/handlers/invitation.go
  backend/internal/service/api_service/auth.go
  backend/internal/service/api_service/invitation.go
Due: build-backend

Harden phpMyAdmin with IP allowlist, rate limiting and non-arbitrary server mode
  _deployment/docker-compose.yml
Due: none

Update docs to compose-only setup and drop dead SendGrid CI variables
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
Due: none

Fix flaky session expiry specs by not waiting for network idle before the toast assertion
  frontend/e2e/auth.spec.ts
Due: lint-nuxt, build-nuxt

Expose production app database on loopback port 3309 for SSH tunnel access
  _deployment/docker-compose.yml
Due: none

Add deploy sync script to preview and push prod compose files over ssh
  .gitignore
  _deployment/sync.sh
Due: none

Bump golang.org/x/crypto and edwards25519 to patch known vulnerabilities
  backend/go.mod
  backend/go.sum
Due: build-backend

Update frontend lockfile to resolve critical and moderate dependency advisories
  frontend/package-lock.json
Due: lint-nuxt, build-nuxt

Print frontend and mailpit URLs after starting the local stack
  Makefile
Due: none

Normalise de-CH group separator so server and client render identical amounts
  frontend/app/utils/format-helper.ts
Due: lint-nuxt, build-nuxt

Fix dev server port flags and resync lockfile so npm ci works under npm 10
  frontend/package-lock.json
  frontend/package.json
Due: lint-nuxt, build-nuxt

Bump x/net and quic-go to clear remaining dependency advisories
  backend/go.mod
  backend/go.sum
Due: build-backend

feat(forecast): hide rows without amounts by default
  backend/internal/adapter/db_adapter/queries/get_user_organisation_setting.sql
  backend/internal/adapter/db_adapter/user_organisation_setting.go
  backend/internal/api/handlers/user_settings_isolation_test.go
  backend/internal/db/migrations/static/00044_alter-table_user_organisation_settings_add_forecast_show_zero_rows.sql
  backend/pkg/models/user_organisation_setting.go
  frontend/app/components/NestedForecastAmount.vue
  frontend/app/components/NestedForecastCategory.vue
  frontend/app/composables/useSettings.ts
  frontend/app/models/user-organisation-setting.ts
  frontend/app/pages/index.vue
  frontend/app/utils/forecast-helper.ts
  frontend/e2e/forecast-zero-rows.spec.ts
Due: lint-nuxt, build-nuxt, build-backend

test(e2e): route forecast API calls through the Nuxt proxy
  frontend/e2e/forecast-zero-rows.spec.ts
Due: lint-nuxt, build-nuxt

Add build identifiers, a healthcheck subcommand and GET /api/config to the backend
  .github/workflows/ci.yml
  _deployment/README.md
  _deployment/backend/Dockerfile
  _deployment/deploy.sh
  _deployment/docker-compose.yml
  _deployment/nuxt/Dockerfile
  _deployment/sync.sh
  _deployment/webhook.sh
  _deployment/webhook/hooks.json.example
  backend/healthcheck.go
  backend/internal/api/router.go
  backend/main.go
  backend/pkg/buildinfo/buildinfo.go
Due: build-backend

Align deployment with the devs-group standard: tag-driven releases, sha-tagged images, health-checked deploys with rollback
  _deployment/.env.example
Due: none

Wait on the container healthcheck instead of exec, which bws run mangles into sh -c
  _deployment/webhook.sh
Due: none

Fix the APP_SHA fingerprint and show the running version in the sidebar
  .github/workflows/ci.yml
  frontend/app/components/Navigation.vue
Due: lint-nuxt, build-nuxt

Load the version during SSR and render it more discreetly, without a tooltip
  frontend/app/components/Navigation.vue
Due: lint-nuxt, build-nuxt

Add a release skill covering the tag-driven deploy flow
  .claude/skills/liquiswiss-release/SKILL.md
Due: none

Bring project rules, docs and commands in line with the tag-driven deploy and container-only dev
  .claude/commands/start-project.md
  .claude/commands/stop-project.md
  .claude/skills/liquiswiss-add-tests/SKILL.md
  CLAUDE.md
  docs/ai/authentication.md
  docs/ai/backend.md
  docs/ai/database.md
  docs/ai/frontend.md
  docs/plans/e2e-tests.md
Due: none
