Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
  - cd frontend
  - npm install
  script:
  - npm run lint .

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
  - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
  - docker push ${IMAGE}

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
  - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
  - docker push ${IMAGE}

Initialise logger in all tests to prevent nil error
  backend/internal/api/handlers/main_test.go
Due: build-backend

Add more Makefile commands
  backend/Makefile
Due: build-backend

Set SQL dialect via variable
  backend/main.go
Due: build-backend

Fixing showing all categories for salary costs
  backend/internal/service/forecast_service/forecast_service.go
  backend/pkg/models/forecast.go
  frontend/components/NestedForecastCategory.vue
Due: lint-nuxt, build-nuxt, build-backend

Fixing showing amount for revenue categories
  frontend/components/NestedForecastCategory.vue
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt

Update vite to close security issue CVE-2025-24010
  frontend/package-lock.json
Due: lint-nuxt, build-nuxt

Calculate and offer to show details for each forecast category
  backend/internal/service/forecast_service/forecast_service.go
  frontend/components/NestedForecastCategory.vue
  frontend/composables/useSettings.ts
Due: lint-nuxt, build-nuxt, build-backend

Hide child details in forecast by default
  frontend/composables/useSettings.ts
Due: lint-nuxt, build-nuxt

Upgrade dependencies
  frontend/package-lock.json
  frontend/package.json
Due: lint-nuxt, build-nuxt

Add feature to be able to exclude single forecasts per month
  backend/internal/api/handlers/forecasts.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00021_create-table_transaction_exclusions.sql
  backend/internal/db/migrations/static/00022_create-table_employee_histories_exclusions.sql
  backend/internal/db/migrations/static/00023_create-table_employee_history_cost_exclusions.sql
  backend/internal/service/db_service/db_service.go
  backend/internal/service/db_service/forecast.go
  backend/internal/service/db_service/queries/create_employee_history_cost_exclusion.sql
  backend/internal/service/db_service/queries/create_employee_history_exclusion.sql
  backend/internal/service/db_service/queries/create_transaction_exclusion.sql
  backend/internal/service/db_service/queries/delete_employee_history_cost_exclusion.sql
  backend/internal/service/db_service/queries/delete_employee_history_exclusion.sql
  backend/internal/service/db_service/queries/delete_transaction_exclusion.sql
  backend/internal/service/db_service/queries/list_employee_history_cost_exclusions.sql
  backend/internal/service/db_service/queries/list_employee_history_exclusions.sql
  backend/internal/service/db_service/queries/list_transaction_exclusions.sql
  backend/internal/service/forecast_service/forecast_service.go
  backend/pkg/models/forecast.go
  backend/pkg/utils/constants.go
  frontend/components/NestedForecastCategory.vue
  frontend/components/dialogs/EmployeeHistoryCostOverviewDialog.vue
  frontend/composables/useForecasts.ts
  frontend/config/config.ts
  frontend/models/forecast.ts
  frontend/pages/index.vue
  frontend/server/api/forecasts/details.get.ts
  frontend/server/api/forecasts/exclude/index.delete.ts
  frontend/server/api/forecasts/exclude/index.get.ts
  frontend/server/api/forecasts/exclude/index.post.ts
  frontend/tailwind.config.js
Due: lint-nuxt, build-nuxt, build-backend

Generate missing mocks
  backend/internal/service/mocks/db_service.go
Due: build-backend

Adjust link in README
  README.md
Due: none

Add IF NOT EXISTS statement to static migrations
  backend/internal/db/migrations/static/00005_create-table_refresh_tokens.sql
  backend/internal/db/migrations/static/00012_create-table_forecasts.sql
  backend/internal/db/migrations/static/00013_create-table_bank_accounts.sql
  backend/internal/db/migrations/static/00014_create-table_fiat_rates.sql
  backend/internal/db/migrations/static/00015_create-table_forecast_details.sql
  backend/internal/db/migrations/static/00021_create-table_transaction_exclusions.sql
  backend/internal/db/migrations/static/00022_create-table_employee_histories_exclusions.sql
  backend/internal/db/migrations/static/00023_create-table_employee_history_cost_exclusions.sql
Due: build-backend

Adjust hint for timezone difference and display format for years in the months
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt

Enable to toggle visibility in forecast for single categories instead of all
  frontend/components/NestedForecastCategory.vue
  frontend/composables/useSettings.ts
Due: lint-nuxt, build-nuxt

Moved deprecated SQL functions to prevent them from being applied
  backend/internal/db/migrations/dynamic/00002_create-view_ranked_histories.sql
  backend/internal/db/migrations/dynamic/00003_create-function_calculate_employee_cost_amount.sql
  backend/internal/db/migrations/dynamic/00004_create-function_calculate_vat_amount.sql
  backend/internal/db/migrations/dynamic/00005_create-function_get_default_system_currency_id.sql
  backend/internal/db/migrations/dynamic/00006_create-function_get_current_organisation_currency_id.sql
  backend/internal/db/migrations/dynamic/deprecated/00002_create-function_calculate_next_history_execution_date.sql
  backend/internal/db/migrations/dynamic/deprecated/00003_create-function_calculate_cost_execution_date.sql
  backend/internal/db/migrations/dynamic/deprecated/00004_create-function_calculate_next_cost.sql
  backend/internal/db/migrations/dynamic/deprecated/00006_create-function_calculate_salary_adjustments.sql
  backend/internal/db/migrations/static/00018_create-table_employee_history_costs.sql
Due: build-backend

Add hint in README about fixtures and apply a minimal set of data via dynamic migrations
  README.md
  backend/internal/db/migrations/dynamic/00007_apply_minimal_fixtures.sql
  backend/internal/service/db_service/fixtures/0002_categories.sql
Due: build-backend

Adjust create currency SQL for better test compatibility
  backend/internal/service/db_service/queries/create_currency.sql
Due: build-backend

Adjust employee history tests to new next execution date change
  backend/internal/api/handlers/employee_histories_test.go
  backend/internal/service/db_service/queries/get_transaction.sql
Due: build-backend

Add error logs to the FinishRegistration function in case of in between errors
  backend/internal/api/handlers/auth.go
Due: build-backend

WIP: Move SQL function logic into Go for better maintenance and debugging
  backend/internal/api/handlers/currencies_test.go
  backend/internal/api/handlers/employee_history_costs_test.go
  backend/internal/api/handlers/my_special_test.go
  backend/internal/db/migrations/static/00010_create-table_transactions.sql
  backend/internal/db/migrations/static/00011_create-table_employee_histories.sql
  backend/internal/service/db_service/employee_history.go
  backend/internal/service/db_service/employee_history_cost.go
  backend/internal/service/db_service/employee_history_cost_service.go
  backend/internal/service/db_service/fixtures/0001_currencies.sql
  backend/internal/service/db_service/helper.go
  backend/internal/service/db_service/queries/get_employee_history.sql
  backend/internal/service/db_service/queries/get_employee_history_cost.sql
  backend/internal/service/db_service/queries/list_employee_histories.sql
  backend/internal/service/db_service/queries/list_employee_history_costs.sql
  backend/internal/service/db_service/queries/list_transactions.sql
  backend/internal/service/db_service/transaction.go
  backend/internal/service/forecast_service/forecast_service.go
  backend/internal/service/mocks/db_service.go
  backend/internal/service/mocks/fixer_io_service.go
  backend/internal/service/mocks/forecast_service.go
  backend/internal/service/mocks/sendgrid_service.go
  backend/internal/service/mocks/user_service.go
  backend/pkg/models/cycle_type.go
  backend/pkg/models/employee_history.go
  backend/pkg/models/employee_history_cost.go
  backend/pkg/models/transaction.go
  backend/pkg/utils/time.go
  backend/pkg/utils/validations.go
  frontend/components/EmployeeHistoryCostCard.vue
  frontend/components/TransactionCard.vue
  frontend/components/TransactionRow.vue
  frontend/config/enums.ts
  frontend/models/employee.ts
  frontend/utils/enum-helper.ts
  frontend/utils/models/employee-history-cost-utils.ts
Due: lint-nuxt, build-nuxt, build-backend

Add hint about installing Goose in README
  README.md
Due: none

Update all frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: lint-nuxt, build-nuxt

Update all backend dependencies
  backend/go.mod
  backend/go.sum
Due: build-backend

Make sure to apply salary calculations
  backend/internal/api/handlers/salaries.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/salary.go
Due: build-backend

Add more options for the forecast range in the frontend
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt

Set correct available cycles
  frontend/components/EmployeeCard.vue
  frontend/components/TransactionCard.vue
  frontend/components/TransactionRow.vue
  frontend/components/dialogs/SalaryDialog.vue
  frontend/components/dialogs/TransactionDialog.vue
  frontend/models/employee.ts
  frontend/models/transaction.ts
  frontend/utils/enum-helper.ts
  frontend/utils/models/employee-utils.ts
  frontend/utils/models/salary-utils.ts
Due: lint-nuxt, build-nuxt

Fix order of args in some functions
  backend/internal/adapter/db_adapter/category.go
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/refresh_token.go
  backend/internal/adapter/db_adapter/registration.go
  backend/internal/adapter/db_adapter/salary_cost.go
  backend/internal/adapter/db_adapter/salary_cost_detail.go
  backend/internal/adapter/db_adapter/salary_cost_label.go
  backend/internal/adapter/db_adapter/user.go
  backend/internal/api/handlers/employees.go
  backend/internal/api/handlers/salaries.go
  backend/internal/api/handlers/salaries_test.go
  backend/internal/api/handlers/salary_costs.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/middleware/auth.go
  backend/internal/mocks/api_service.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/auth.go
  backend/internal/service/api_service/category.go
  backend/internal/service/api_service/employees.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/salary.go
  backend/internal/service/api_service/salary_cost.go
  backend/internal/service/api_service/salary_cost_label.go
  backend/internal/service/api_service/user.go
Due: build-backend

Generate mocks
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
Due: build-backend

Fix saving, deleting and copying salary and hide exclude icon for 0 amount forecasts
  backend/internal/adapter/db_adapter/salary_cost_detail.go
  frontend/components/NestedForecastAmount.vue
  frontend/components/NestedForecastCategory.vue
  frontend/components/SalaryCard.vue
  frontend/components/dialogs/SalaryCostCopyDialog.vue
  frontend/interfaces/dialog-interfaces.ts
Due: lint-nuxt, build-nuxt, build-backend

Fix missing cookie error on login
  backend/internal/api/handlers/auth.go
Due: build-backend

Add test for long relative offset with a to date
  backend/internal/api/handlers/salary_costs_test.go
Due: build-backend

Add possibility to add termination of an employee
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/queries/create_salary.sql
  backend/internal/adapter/db_adapter/queries/get_employee.sql
  backend/internal/adapter/db_adapter/queries/get_salary.sql
  backend/internal/adapter/db_adapter/queries/list_employees.sql
  backend/internal/adapter/db_adapter/salary.go
  backend/internal/db/migrations/dynamic/00002_create-view_ranked_salaries.sql
  backend/internal/db/migrations/static/00025_alter-table_salaries.sql
  backend/pkg/models/employee.go
  backend/pkg/models/salary.go
  frontend/components/EmployeeCard.vue
  frontend/components/SalaryCard.vue
  frontend/components/dialogs/SalaryDialog.vue
  frontend/composables/useSalaries.ts
  frontend/interfaces/dialog-interfaces.ts
  frontend/models/employee.ts
  frontend/pages/employees/[id]/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Fix excluding forecasts
  frontend/components/NestedForecastAmount.vue
  frontend/components/NestedForecastCategory.vue
Due: lint-nuxt, build-nuxt

Change Forecast month choice for more flexible values
  frontend/pages/index.vue
Due: lint-nuxt, build-nuxt

Adjust dialog sizes, auto focus select filters and exchange amount inputs
  frontend/assets/css/tailwind.css
  frontend/components/dialogs/BankAccountDialog.vue
  frontend/components/dialogs/SalaryCostDialog.vue
  frontend/components/dialogs/SalaryDialog.vue
  frontend/components/dialogs/TransactionDialog.vue
  frontend/components/dialogs/VatDialog.vue
  frontend/config/dialog-props.ts
  frontend/pages/index.vue
  frontend/pages/settings/organisations/[id].vue
  frontend/utils/element-helper.ts
Due: lint-nuxt, build-nuxt

Prevent closing dialogs with ESC but add a close button and also refetch data after closing dialogs
  frontend/components/SalaryCard.vue
  frontend/components/dialogs/SalaryCostDialog.vue
  frontend/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/components/dialogs/TransactionDialog.vue
  frontend/config/dialog-props.ts
  frontend/pages/employees/[id]/index.vue
Due: lint-nuxt, build-nuxt

Path conditions:
  lint-nuxt: any of: frontend/**/*
  build-nuxt: any of: frontend/**/*
  build-backend: any of: backend/**/*
