Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

.gitlab-ci.yml:

image: docker:git

services:
  - docker:dind

stages:
  - lint
  - build
  - deploy

before_script:
  - if [ -z "${REGISTRY_USER_NAME}" ]; then REGISTRY_USER_NAME=gitlab-ci-token; fi
  - if [ -z "${REGISTRY_SECRET}" ]; then REGISTRY_SECRET=${CI_JOB_TOKEN}; fi
  - docker login -u ${REGISTRY_USER_NAME} -p ${REGISTRY_SECRET} ${CI_REGISTRY}

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
    - cd frontend
    - npm install
  script:
    - npm run lint .
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      changes:
      - frontend/**/*

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
    - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - frontend/**/*

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
    - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
    - docker push ${IMAGE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
      - backend/**/*

deploy:
  stage: deploy
  image: alpine:latest
  environment:
    name: prod
    url: https://liquiswiss.devs-group.ch/
  before_script:
    - apk add curl
  script:
    - sh ./.deploy/deploy.sh
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

Fix session expired toast showing for first-time visitors
  backend/internal/middleware/auth.go
  frontend/e2e/auth.spec.ts
Due: lint-nuxt, build-nuxt, build-backend

Add session expiry detection with dialog and toast messages
  frontend/app/app.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/auth/index.vue
  frontend/app/plugins/fetchInterceptor.ts
  frontend/app/utils/constants.ts
  frontend/e2e/auth.spec.ts
Due: lint-nuxt, build-nuxt

Change project specific claude commands
  .claude/commands/start-project.md
  .claude/commands/stop-project.md
Due: none

Fix session expired dialog showing reject button
  frontend/app/app.vue
Due: lint-nuxt, build-nuxt

Add git push instruction to guidelines
  CLAUDE.md
Due: none

Fix session tracking cookie to work in HTTP test environments
  frontend/app/middleware/auth.global.ts
  frontend/app/plugins/fetchInterceptor.ts
  frontend/app/utils/constants.ts
Due: lint-nuxt, build-nuxt

Remove secure flag from session tracking cookie for HTTP compatibility
  frontend/app/utils/constants.ts
Due: lint-nuxt, build-nuxt

Improve session expiry test selectors and increase timeout
  frontend/e2e/auth.spec.ts
Due: lint-nuxt, build-nuxt

Fix E2E test artifact upload in CI workflow
  .github/workflows/ci.yml
Due: none

Fix forecast date range to use stubbable today instead of MariaDB CURDATE
  backend/internal/adapter/db_adapter/forecast.go
  backend/internal/adapter/db_adapter/queries/list_forecast_details.sql
  backend/internal/adapter/db_adapter/queries/list_forecasts.sql
Due: build-backend

Change frontend dev port from 3000 to 3007
  .deploy/nuxt/Dockerfile
  backend/.env.example
  frontend/package.json
  frontend/playwright.config.ts
Due: lint-nuxt, build-nuxt, build-backend

Warn about pending static migrations when --no-migrate is set
  backend/main.go
Due: build-backend

Add root Makefile with frontend-run and backend-run shortcuts
  Makefile
Due: none

Add planning docs for mock Fixer.io service and SMTP email adapter
  docs/plans/mock-fixer-io-service.md
  docs/plans/smtp-email-adapter.md
Due: none

Fix flaky E2E tests: scope password locator and use HTTP-compatible session expired cookie
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/auth/index.vue
  frontend/e2e/invitation.spec.ts
Due: lint-nuxt, build-nuxt

Align member and invitation cards with role shown as badge
  frontend/app/components/InvitationCard.vue
  frontend/app/components/MemberCard.vue
Due: lint-nuxt, build-nuxt

Remove duplicate ConfirmDialog from organisation page (already in app.vue)
  frontend/app/pages/organisation.vue
Due: lint-nuxt, build-nuxt

Require password verification when existing user accepts invitation
  backend/internal/api/handlers/invitation_test.go
  backend/internal/service/api_service/invitation.go
  frontend/app/pages/auth/invitation.vue
Due: lint-nuxt, build-nuxt, build-backend

Fix member and invitation card alignment by reserving title row height
  frontend/app/components/InvitationCard.vue
  frontend/app/components/MemberCard.vue
Due: lint-nuxt, build-nuxt

Return generic invalid credentials error on invitation accept password failure
  backend/internal/api/handlers/invitation.go
  backend/internal/api/handlers/invitation_test.go
  backend/internal/service/api_service/invitation.go
  frontend/app/composables/useInvitations.ts
Due: lint-nuxt, build-nuxt, build-backend

Prevent removed member from accessing former organisation data
  backend/internal/db/migrations/dynamic/00001_create-function_get_current_user_organisation_id.sql
  backend/internal/service/api_service/member.go
Due: build-backend

Allow logged-in user to accept invitation without password when email matches
  backend/internal/api/handlers/invitation.go
  backend/internal/api/handlers/invitation_isolation_test.go
  backend/internal/api/handlers/invitation_test.go
  backend/internal/mocks/api_service.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/invitation.go
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/auth/invitation.vue
Due: lint-nuxt, build-nuxt, build-backend

Show pending invitation badges in navigation and settings with accept links
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/invitation.go
  backend/internal/adapter/db_adapter/queries/list_invitations_by_email.sql
  backend/internal/api/handlers/invitation.go
  backend/internal/api/router.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/invitation.go
  backend/pkg/models/invitation.go
  frontend/app/components/Navigation.vue
  frontend/app/composables/useInvitations.ts
  frontend/app/models/invitation.ts
  frontend/app/pages/settings.vue
  frontend/app/pages/settings/organisations.vue
Due: lint-nuxt, build-nuxt, build-backend

Load pending invitations in auth middleware for SSR instead of per-component onMounted
  frontend/app/components/Navigation.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/settings.vue
  frontend/app/pages/settings/organisations.vue
Due: lint-nuxt, build-nuxt

Use useFetch for pending invitations to forward cookies during SSR
  frontend/app/composables/useInvitations.ts
Due: lint-nuxt, build-nuxt

Forward cookies via useRequestHeaders so pending invitations load during SSR
  frontend/app/composables/useInvitations.ts
  frontend/app/middleware/auth.global.ts
Due: lint-nuxt, build-nuxt

Allow invitee to decline pending invitation from organisations settings
  backend/internal/api/handlers/invitation.go
  backend/internal/api/router.go
  backend/internal/mocks/api_service.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/invitation.go
  frontend/app/composables/useInvitations.ts
  frontend/app/pages/settings/organisations.vue
Due: lint-nuxt, build-nuxt, build-backend

Redirect to home after invitation accept to avoid reloading stale invitation page
  frontend/app/pages/auth/invitation.vue
Due: lint-nuxt, build-nuxt

Enforce role-based permissions on mutation routes (editor+) and admin routes
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/organisation.go
  backend/internal/adapter/db_adapter/queries/get_current_user_role.sql
  backend/internal/api/router.go
  backend/internal/middleware/role.go
  backend/internal/mocks/db_adapter.go
  frontend/app/composables/useOrganisations.ts
Due: lint-nuxt, build-nuxt, build-backend

Restructure deployment to _deployment/ with prod-mirror compose and bump Go to 1.26.2
  .deploy/backend/Dockerfile
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  _deployment/.credentials.example
  _deployment/Makefile
  _deployment/README.md
  _deployment/backend/Dockerfile
  _deployment/deploy.sh
  _deployment/docker-compose.yml
  _deployment/nuxt/Dockerfile
  _deployment/webhook.sh
  _deployment/webhook/hooks.json.example
  _deployment/webhook/webhooks.service
  backend/.env.local.testing
  backend/go.mod
  docker-compose.yml
Due: build-backend

Remove .env.example files and document compose-only workflow
  .env.example
  CLAUDE.md
  backend/.env.example
  frontend/.env.example
Due: lint-nuxt, build-nuxt, build-backend

Wire BWSM via make targets with required-secret enforcement and keychain token
  CLAUDE.md
  Makefile
  _deployment/docker-compose.yml
  backend/main.go
  docker-compose.yml
Due: build-backend

Wire BWSM into deploy webhook via .credentials
  _deployment/.credentials.example
  _deployment/webhook.sh
Due: none

Pin BWSM project id when injecting secrets in deploy webhook
  _deployment/.credentials.example
  _deployment/webhook.sh
Due: none

Wrap docker compose pull with bws run so it can resolve required vars
  _deployment/webhook.sh
Due: none

Add bws-wrapped Makefile targets to deployment for ad-hoc compose ops
  _deployment/Makefile
Due: none

Add interactive db password rotation make targets
  _deployment/Makefile
Due: none

Add interactive db password rotation via separate script invoked from make
  _deployment/Makefile
  _deployment/rotate-db.sh
Due: none
