Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
  - cd frontend
  - npm install
  script:
  - npm run lint .

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
  - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
  - docker push ${IMAGE}

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
  - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
  - docker push ${IMAGE}

Try to fix CI
  .github/workflows/ci.yml
Due: none

Untrack Agents.md and ignore AI helper files
  .gitignore
Due: none

Implement Backend Scenario CRUD
  Agents.md
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/create_scenario.sql
  backend/internal/adapter/db_adapter/queries/delete_scenario.sql
  backend/internal/adapter/db_adapter/queries/get_scenario.sql
  backend/internal/adapter/db_adapter/queries/list_scenarios.sql
  backend/internal/adapter/db_adapter/scenario.go
  backend/internal/api/handlers/scenarios.go
  backend/internal/api/handlers/scenarios_test.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00019_alter-table_organisations_add_main_currency.sql
  backend/internal/db/migrations/static/00032_create_table_scenarios.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/scenario.go
  backend/pkg/models/scenario.go
Due: build-backend

Implement Backend Scenario CRUD
  Agents.md
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/create_scenario.sql
  backend/internal/adapter/db_adapter/queries/create_scenario_for_organisation.sql
  backend/internal/adapter/db_adapter/queries/create_transaction.sql
  backend/internal/adapter/db_adapter/queries/delete_scenario.sql
  backend/internal/adapter/db_adapter/queries/get_scenario.sql
  backend/internal/adapter/db_adapter/queries/list_scenarios.sql
  backend/internal/adapter/db_adapter/queries/set_user_current_scenario.sql
  backend/internal/adapter/db_adapter/scenario.go
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/adapter/db_adapter/user.go
  backend/internal/api/handlers/scenarios.go
  backend/internal/api/handlers/scenarios_test.go
  backend/internal/api/router.go
  backend/internal/db/migrations/dynamic/00006_create-function_get_current_user_scenario_id.sql
  backend/internal/db/migrations/static/00019_alter-table_organisations_add_main_currency.sql
  backend/internal/db/migrations/static/00032_create_table_scenarios.sql
  backend/internal/db/migrations/static/00033_alter-table_transactions_add_scenario_id.sql
  backend/internal/db/migrations/static/00034_create-table_transactions_override.sql
  backend/internal/db/migrations/static/00035_alter-table_users_add_current_scenario_id.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/organisation.go
  backend/internal/service/api_service/scenario.go
  backend/internal/service/api_service/user.go
  backend/pkg/models/scenario.go
Due: build-backend

Add automatic VAT calculation from Transactions
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/create_vat_setting.sql
  backend/internal/adapter/db_adapter/queries/delete_vat_setting.sql
  backend/internal/adapter/db_adapter/queries/get_vat_setting.sql
  backend/internal/adapter/db_adapter/vat_setting.go
  backend/internal/api/handlers/vat_settings.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00032_create_table_vat_settings.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/vat_setting.go
  backend/pkg/models/vat_setting.go
  frontend/app/composables/useVatSettings.ts
  frontend/app/models/vat-setting.ts
  frontend/app/pages/settings/organisations/[id].vue
Due: lint-nuxt, build-nuxt, build-backend

Add automatic VAT calculation based on positive transactions with VAT
  backend/internal/api/handlers/forecast_integration_test.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  frontend/app/components/NestedForecastCategory.vue
  frontend/app/pages/settings/organisations/[id].vue
Due: lint-nuxt, build-nuxt, build-backend

Add automatica VAT calculation based on positive transactions
  .github/workflows/ci.yml
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/create_vat_setting.sql
  backend/internal/adapter/db_adapter/queries/delete_vat_setting.sql
  backend/internal/adapter/db_adapter/queries/get_vat_setting.sql
  backend/internal/adapter/db_adapter/vat_setting.go
  backend/internal/api/handlers/forecast_integration_test.go
  backend/internal/api/handlers/vat_settings.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00032_create_table_vat_settings.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/vat_setting.go
  backend/pkg/models/vat_setting.go
  frontend/app/components/NestedForecastCategory.vue
  frontend/app/composables/useVatSettings.ts
  frontend/app/models/vat-setting.ts
  frontend/app/pages/settings/organisations/[id].vue
Due: lint-nuxt, build-nuxt, build-backend

Fix month offset in VAT if end of month is chosen
  backend/internal/api/handlers/forecast_integration_test.go
  backend/internal/service/api_service/forecast.go
Due: build-backend

Try to let CI run on only one previous pipe
  .github/workflows/ci.yml
  backend/main.go
Due: build-backend

Performance slider also adjusts displayed single Income values and automatically calculated VAT and therefore the Cashflow and final saldo
  frontend/app/components/NestedForecastAmount.vue
  frontend/app/components/NestedForecastCategory.vue
  frontend/app/pages/index.vue
Due: lint-nuxt, build-nuxt

Add scenarios
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/assign_user_to_scenario.sql
  backend/internal/adapter/db_adapter/queries/create_scenario.sql
  backend/internal/adapter/db_adapter/queries/delete_scenario.sql
  backend/internal/adapter/db_adapter/queries/get_profile.sql
  backend/internal/adapter/db_adapter/queries/get_scenario.sql
  backend/internal/adapter/db_adapter/queries/list_scenarios.sql
  backend/internal/adapter/db_adapter/queries/set_user_current_scenario.sql
  backend/internal/adapter/db_adapter/scenario.go
  backend/internal/adapter/db_adapter/user.go
  backend/internal/api/handlers/auth_test.go
  backend/internal/api/handlers/main_test.go
  backend/internal/api/handlers/scenario.go
  backend/internal/api/handlers/users.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00033_create-table_scenarios.sql
  backend/internal/db/migrations/static/00034_alter-table_add_default_scenarios.sql
  backend/internal/db/migrations/static/00035_create-table_users_2_scenarios.sql
  backend/internal/db/migrations/static/00036_alter-table_users_2_scenarios_assign_users_to_scenarios.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/auth.go
  backend/internal/service/api_service/scenario.go
  backend/internal/service/api_service/user.go
  backend/pkg/models/scenario.go
  backend/pkg/models/user.go
  frontend/app/app.vue
  frontend/app/components/Navigation.vue
  frontend/app/components/dialogs/ScenarioDialog.vue
  frontend/app/composables/useAuth.ts
  frontend/app/composables/useBankAccounts.ts
  frontend/app/composables/useScenarios.ts
  frontend/app/config/routes.ts
  frontend/app/interfaces/dialog-interfaces.ts
  frontend/app/models/auth.ts
  frontend/app/models/scenario.ts
  frontend/app/pages/scenarios/index.vue
  frontend/tailwind.config.js
Due: lint-nuxt, build-nuxt, build-backend

WIP
  backend/internal/adapter/db_adapter/queries/assign_user_to_scenario.sql
  backend/internal/adapter/db_adapter/queries/create_transaction.sql
  backend/internal/adapter/db_adapter/queries/get_profile.sql
  backend/internal/adapter/db_adapter/queries/get_transaction.sql
  backend/internal/adapter/db_adapter/queries/list_transactions.sql
  backend/internal/adapter/db_adapter/queries/set_user_current_organisation.sql
  backend/internal/adapter/db_adapter/queries/set_user_current_scenario.sql
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/adapter/db_adapter/user.go
  backend/internal/api/handlers/main_test.go
  backend/internal/api/handlers/organisations.go
  backend/internal/api/handlers/users_test.go
  backend/internal/db/migrations/dynamic/00006_create-function_get_current_user_scenario_id.sql
  backend/internal/db/migrations/static/00033_create-table_scenarios.sql
  backend/internal/db/migrations/static/00034_alter-table_add_default_scenarios.sql
  backend/internal/db/migrations/static/00034_create-table_users_2_scenarios.sql
  backend/internal/db/migrations/static/00035_alter-table_transactions_add_scenario_id.sql
  backend/internal/db/migrations/static/00035_create-table_users_2_scenarios.sql
  backend/internal/db/migrations/static/00036_alter-table_users_2_scenarios_assign_users_to_scenarios.sql
  backend/internal/db/migrations/static/00036_alter-table_users_add_current_scenario_id.sql
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/auth.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/organisation.go
  backend/internal/service/api_service/scenario.go
  frontend/app/components/dialogs/ScenarioDialog.vue
  frontend/app/models/scenario.ts
Due: lint-nuxt, build-nuxt, build-backend

Add CLAUDE instructions
  .gitignore
  Agents.md
  CLAUDE.md
  docs/ai/architecture.md
  docs/ai/authentication.md
  docs/ai/backend.md
  docs/ai/business-logic.md
  docs/ai/database.md
  docs/ai/frontend.md
Due: none

Add optional link field to transactions
  CLAUDE.md
  backend/internal/adapter/db_adapter/queries/create_transaction.sql
  backend/internal/adapter/db_adapter/queries/get_transaction.sql
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/db/migrations/static/00033_add_link_to_transactions.sql
  backend/pkg/models/transaction.go
  docs/ai/backend.md
  docs/ai/database.md
  docs/ai/frontend.md
  frontend/.nvmrc
  frontend/app/components/TransactionCard.vue
  frontend/app/components/TransactionRow.vue
  frontend/app/components/dialogs/TransactionDialog.vue
  frontend/app/models/transaction.ts
  frontend/app/utils/format-helper.ts
Due: lint-nuxt, build-nuxt, build-backend

Add server-side search for transactions
  backend/Makefile
  backend/internal/adapter/db_adapter/bank_account.go
  backend/internal/adapter/db_adapter/category.go
  backend/internal/adapter/db_adapter/currencies.go
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/helper.go
  backend/internal/adapter/db_adapter/organisation.go
  backend/internal/adapter/db_adapter/queries/list_transactions.sql
  backend/internal/adapter/db_adapter/salary.go
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/adapter/db_adapter/user.go
  backend/internal/adapter/db_adapter/vat.go
  backend/internal/adapter/db_adapter/vat_setting.go
  backend/internal/adapter/sendgrid_adapter/sendgrid_adapter.go
  backend/internal/api/handlers/transactions.go
  backend/internal/api/handlers/transactions_test.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/helper.go
  backend/internal/service/api_service/organisation.go
  backend/internal/service/api_service/transaction.go
  backend/pkg/auth/auth.go
  backend/pkg/logger/logger.go
  backend/pkg/models/forecast.go
  backend/pkg/models/utils.go
  backend/pkg/utils/util.go
  docs/ai/backend.md
  frontend/app/composables/useTransactions.ts
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Prevent empty searches for transactions
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt

Add redirect to previous path after session expiry login
  CLAUDE.md
  docs/ai/frontend.md
  frontend/app/composables/useAuth.ts
  frontend/app/middleware/auth.global.ts
  frontend/app/plugins/fetchInterceptor.ts
  frontend/app/utils/constants.ts
Due: lint-nuxt, build-nuxt

Add server-side search and pagination for employees and bank accounts
  backend/internal/adapter/db_adapter/bank_account.go
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/queries/list_bank_accounts.sql
  backend/internal/adapter/db_adapter/queries/list_employees.sql
  backend/internal/api/handlers/bank_account.go
  backend/internal/api/handlers/bank_account_test.go
  backend/internal/api/handlers/employees.go
  backend/internal/api/handlers/employees_test.go
  backend/internal/api/handlers/salaries_test.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/bank_account.go
  backend/internal/service/api_service/employees.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  frontend/app/composables/useBankAccounts.ts
  frontend/app/composables/useEmployees.ts
  frontend/app/models/bank-account.ts
  frontend/app/pages/bank-accounts/index.vue
  frontend/app/pages/employees/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Add isolation test plan and conversation export guidelines
  .gitignore
  CLAUDE.md
  docs/plans/isolation-tests.md
Due: none

Fix IDOR vulnerabilities and add cross-organisation isolation tests
  .gitignore
  CLAUDE.md
  backend/internal/api/handlers/bank_accounts_isolation_test.go
  backend/internal/api/handlers/categories_isolation_test.go
  backend/internal/api/handlers/employees_isolation_test.go
  backend/internal/api/handlers/forecasts_isolation_test.go
  backend/internal/api/handlers/main_test.go
  backend/internal/api/handlers/organisations_isolation_test.go
  backend/internal/api/handlers/salaries_isolation_test.go
  backend/internal/api/handlers/salary_cost_labels_isolation_test.go
  backend/internal/api/handlers/salary_costs_isolation_test.go
  backend/internal/api/handlers/transactions.go
  backend/internal/api/handlers/transactions_isolation_test.go
  backend/internal/api/handlers/vat_settings_isolation_test.go
  backend/internal/api/handlers/vats_isolation_test.go
  backend/internal/service/api_service/salary_cost.go
  backend/internal/service/api_service/transaction.go
  docs/ai/backend.md
Due: build-backend

Add session expiry notification dialog and toast
  frontend/app/app.vue
  frontend/app/composables/useAuth.ts
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/auth/index.vue
  frontend/app/plugins/fetchInterceptor.ts
  frontend/app/utils/constants.ts
Due: lint-nuxt, build-nuxt

Add hide terminated employees filter to employees page
  CLAUDE.md
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/adapter/db_adapter/queries/list_employees.sql
  backend/internal/api/handlers/employees.go
  backend/internal/api/handlers/employees_isolation_test.go
  backend/internal/api/handlers/employees_test.go
  backend/internal/api/handlers/organisations_isolation_test.go
  backend/internal/api/handlers/salaries_test.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/employees.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  frontend/app/components/EmployeeRow.vue
  frontend/app/composables/useAuth.ts
  frontend/app/composables/useEmployees.ts
  frontend/app/composables/useSettings.ts
  frontend/app/pages/employees/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Add git hooks setup and directory checking guideline
  CLAUDE.md
  README.md
Due: none

Add pre-commit hook for lint and tests
  .githooks/pre-commit
Due: none

Update CLAUDE.md and README.md with test env details and Nuxt 4
  CLAUDE.md
  README.md
Due: none

Add hide disabled transactions toggle to transactions page
  CLAUDE.md
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/list_transactions.sql
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/api/handlers/transactions.go
  backend/internal/api/handlers/transactions_isolation_test.go
  backend/internal/api/handlers/transactions_test.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/transaction.go
  frontend/app/composables/useSettings.ts
  frontend/app/composables/useTransactions.ts
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Add reusable SearchInput component with clear button
  CLAUDE.md
  frontend/app/components/SearchInput.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/pages/bank-accounts/index.vue
  frontend/app/pages/employees/index.vue
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt

Add Automatisierung settings tab with VAT settings
  frontend/app/config/routes.ts
  frontend/app/pages/settings.vue
  frontend/app/pages/settings/automation/index.vue
  frontend/app/pages/settings/organisations/[id].vue
  frontend/app/utils/types.ts
Due: lint-nuxt, build-nuxt

Remove completed isolation tests plan
  docs/plans/isolation-tests.md
Due: none

Move user settings from cookies to database storage
  CLAUDE.md
  backend/.air.toml
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/get_user_organisation_setting.sql
  backend/internal/adapter/db_adapter/queries/get_user_setting.sql
  backend/internal/adapter/db_adapter/user_organisation_setting.go
  backend/internal/adapter/db_adapter/user_setting.go
  backend/internal/api/handlers/user_settings.go
  backend/internal/api/handlers/user_settings_isolation_test.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00034_create_table_user_settings.sql
  backend/internal/db/migrations/static/00035_create_table_user_organisation_settings.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/user_organisation_setting.go
  backend/internal/service/api_service/user_setting.go
  backend/main.go
  backend/pkg/models/user_organisation_setting.go
  backend/pkg/models/user_setting.go
  docs/ai/database.md
  frontend/app/components/BankAccountHeaders.vue
  frontend/app/components/EmployeeHeaders.vue
  frontend/app/components/NestedForecastCategory.vue
  frontend/app/components/TransactionHeaders.vue
  frontend/app/composables/useSettings.ts
  frontend/app/composables/useUserOrganisationSettings.ts
  frontend/app/composables/useUserSettings.ts
  frontend/app/middleware/auth.global.ts
  frontend/app/models/user-organisation-setting.ts
  frontend/app/models/user-setting.ts
  frontend/app/pages/index.vue
  frontend/app/pages/settings/app/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Add Claude Code guidelines command
  .claude/commands/guidelines.md
Due: none

Add sortBy tests and fix employee sorting column references
  backend/internal/adapter/db_adapter/employees.go
  backend/internal/api/handlers/employees_test.go
  backend/internal/api/handlers/transactions_test.go
  frontend/app/components/EmployeeHeaders.vue
  frontend/app/utils/types.ts
Due: lint-nuxt, build-nuxt, build-backend

Add new command and adjust guidelines command
  .claude/commands/export-root.md
  .claude/commands/guidelines.md
Due: none

Add Playwright E2E tests with GitHub Actions integration
  .github/workflows/ci.yml
  README.md
  backend/internal/api/handlers/users_test.go
  backend/internal/api/router.go
  backend/internal/db/migrations/dynamic/10001_apply_e2e_test_fixtures.sql
  backend/main.go
  docs/ai/frontend.md
  frontend/.gitignore
  frontend/app/pages/auth/index.vue
  frontend/e2e/auth.spec.ts
  frontend/e2e/fixtures/auth.fixture.ts
  frontend/e2e/pages/login.page.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: lint-nuxt, build-nuxt, build-backend

Improve E2E test CI workflow and add debugging
  .github/workflows/ci.yml
  docs/plans/e2e-tests.md
  frontend/e2e/pages/login.page.ts
  frontend/playwright.config.ts
Due: lint-nuxt, build-nuxt

Fix E2E CI by setting GIN_MODE=release to skip .env loading
  .github/workflows/ci.yml
Due: none

Document GIN_MODE environment variable behavior
  docs/ai/backend.md
Due: none

Adjust guidelines.md
  .claude/commands/guidelines.md
Due: none

Update documentation based on codebase audit
  CLAUDE.md
  docs/ai/backend.md
  docs/ai/database.md
  docs/ai/frontend.md
Due: none

Path conditions:
  lint-nuxt: any of: frontend/**/*
  build-nuxt: any of: frontend/**/*
  build-backend: any of: backend/**/*
