Repository devs-group/liquiswiss: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-nuxt, build-nuxt, build-backend

lint-nuxt:
  stage: lint
  image: node:20.11.0
  before_script:
  - cd frontend
  - npm install
  script:
  - npm run lint .

build-nuxt:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/nuxt:master
  script:
  - docker build -f ./.deploy/nuxt/Dockerfile -t ${IMAGE} ./
  - docker push ${IMAGE}

build-backend:
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/backend:master
  script:
  - docker build -f ./.deploy/backend/Dockerfile -t ${IMAGE} ./
  - docker push ${IMAGE}

Make BWSM optional locally so new contributors can start without vault access
  CLAUDE.md
  Makefile
  docker-compose.yml
Due: none

Skip email and currency-rate calls gracefully when API keys are not configured
  backend/internal/adapter/sendgrid_adapter/sendgrid_adapter.go
  backend/internal/service/fixer_io_service/fixer_io_service.go
Due: build-backend

Replace SendGrid with SMTP adapter and add Mailpit + currency fallback for local dev
  CLAUDE.md
  _deployment/docker-compose.yml
  backend/config/config.go
  backend/go.mod
  backend/go.sum
  backend/internal/adapter/email_adapter/email_adapter.go
  backend/internal/adapter/email_adapter/email_adapter_test.go
  backend/internal/adapter/email_adapter/smtp.go
  backend/internal/adapter/email_adapter/templates.go
  backend/internal/adapter/email_adapter/templates/base.tmpl
  backend/internal/adapter/sendgrid_adapter/sendgrid_adapter.go
  backend/internal/api/handlers/auth_test.go
  backend/internal/api/handlers/bank_account_test.go
  backend/internal/api/handlers/currencies_test.go
  backend/internal/api/handlers/employees_test.go
  backend/internal/api/handlers/forecast_integration_test.go
  backend/internal/api/handlers/invitation_test.go
  backend/internal/api/handlers/main_test.go
  backend/internal/api/handlers/member_test.go
  backend/internal/api/handlers/salaries_test.go
  backend/internal/api/handlers/salary_costs_test.go
  backend/internal/api/handlers/transactions_test.go
  backend/internal/api/handlers/users_test.go
  backend/internal/api/router.go
  backend/internal/mocks/email_adapter.go
  backend/internal/mocks/sendgrid_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/auth.go
  backend/internal/service/api_service/invitation.go
  backend/internal/service/fixer_io_service/fallback.go
  backend/internal/service/fixer_io_service/fallback_rates.json
  backend/internal/service/fixer_io_service/fallback_test.go
  backend/internal/service/fixer_io_service/fixer_io_service.go
  backend/main.go
  backend/pkg/models/mail.go
  docker-compose.yml
  docs/ai/architecture.md
  docs/plans/2026-04-26-001-feat-smtp-and-currency-fallback-plan.md
  docs/plans/mock-fixer-io-service.md
  docs/plans/smtp-email-adapter.md
Due: build-backend

Add rate-limits, redesign emails, refresh nav and invited-user defaults
  CLAUDE.md
  _deployment/docker-compose.yml
  backend/config/config.go
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/invitation.go
  backend/internal/adapter/db_adapter/queries/get_invitation_by_id.sql
  backend/internal/adapter/db_adapter/queries/get_invitation_by_token.sql
  backend/internal/adapter/db_adapter/queries/list_invitations.sql
  backend/internal/adapter/db_adapter/queries/update_invitation_last_sent_at.sql
  backend/internal/adapter/email_adapter/email_adapter_test.go
  backend/internal/adapter/email_adapter/smtp.go
  backend/internal/adapter/email_adapter/templates/base.tmpl
  backend/internal/api/handlers/invitation_test.go
  backend/internal/db/migrations/static/00040_add_last_sent_at_to_invitations.sql
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/auth.go
  backend/internal/service/api_service/invitation.go
  backend/internal/service/fixer_io_service/fallback_rates.json
  backend/internal/service/fixer_io_service/fixer_io_service.go
  backend/main.go
  backend/pkg/models/invitation.go
  backend/pkg/utils/constants.go
  docker-compose.yml
  docs/plans/2026-04-26-001-feat-smtp-and-currency-fallback-plan.md
  frontend/app/components/DesktopMenu.vue
  frontend/app/components/InvitationCard.vue
  frontend/app/components/MobileMenu.vue
  frontend/app/components/Navigation.vue
  frontend/app/pages/settings.vue
  frontend/app/pages/settings/app/index.vue
  frontend/nuxt.config.ts
Due: lint-nuxt, build-nuxt, build-backend

Add liquiswiss-add-tests skill for backend test coverage proposals
  .claude/skills/liquiswiss-add-tests/SKILL.md
Due: none

Fix missing space after "Läuft ab:" in invitation card
  frontend/app/components/InvitationCard.vue
Due: lint-nuxt, build-nuxt

Pin invitation date timezone to Europe/Zurich to fix SSR hydration mismatch
  frontend/app/components/InvitationCard.vue
Due: lint-nuxt, build-nuxt

Remove shipped SMTP and currency fallback plan
  docs/plans/2026-04-26-001-feat-smtp-and-currency-fallback-plan.md
Due: none

Switch database storage from bind mount to named volume
  .gitignore
  docker-compose.yml
Due: none

Fix goose Makefile DSN to reach compose database on port 3317
  backend/Makefile
Due: build-backend

Highlight active salary card with green border and matching badge
  frontend/app/components/SalaryCard.vue
Due: lint-nuxt, build-nuxt

Fix Ausführung for one-time transactions and add filter for expired entries
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/get_user_organisation_setting.sql
  backend/internal/adapter/db_adapter/queries/list_transactions.sql
  backend/internal/adapter/db_adapter/transaction.go
  backend/internal/adapter/db_adapter/user_organisation_setting.go
  backend/internal/api/handlers/transactions.go
  backend/internal/api/handlers/transactions_isolation_test.go
  backend/internal/api/handlers/transactions_test.go
  backend/internal/db/migrations/static/00041_alter-table_user_organisation_settings_add_transaction_hide_expired.sql
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/internal/service/api_service/forecast_test.go
  backend/internal/service/api_service/transaction.go
  backend/pkg/models/user_organisation_setting.go
  frontend/app/composables/useSettings.ts
  frontend/app/composables/useTransactions.ts
  frontend/app/models/user-organisation-setting.ts
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Tidy Makefiles: extract goose DSN/dirs and add root migrate shortcut
  Makefile
  backend/Makefile
Due: build-backend

Move VAT automation panel from Settings to Organisation page
  frontend/app/config/routes.ts
  frontend/app/pages/organisation.vue
  frontend/app/pages/settings.vue
  frontend/app/pages/settings/automation/index.vue
  frontend/app/utils/types.ts
Due: lint-nuxt, build-nuxt

Hide edit actions and lock inputs for read-only org members
  frontend/app/components/BankAccountCard.vue
  frontend/app/components/BankAccountRow.vue
  frontend/app/components/EmployeeRow.vue
  frontend/app/components/NestedForecastAmount.vue
  frontend/app/components/SalaryCard.vue
  frontend/app/components/SalaryCostCard.vue
  frontend/app/components/TransactionCard.vue
  frontend/app/components/TransactionRow.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/composables/useOrganisations.ts
  frontend/app/pages/bank-accounts/index.vue
  frontend/app/pages/employees/[id]/index.vue
  frontend/app/pages/employees/index.vue
  frontend/app/pages/index.vue
  frontend/app/pages/transactions/index.vue
Due: lint-nuxt, build-nuxt

Restyle organisation cards on settings as compact salary-style
  frontend/app/pages/settings/organisations.vue
Due: lint-nuxt, build-nuxt

Add manual workflow_dispatch trigger that runs full CI pipeline
  .github/workflows/ci.yml
Due: none

Add MCP server with OAuth 2.1 authorization for AI client access
  README.md
  backend/config/config.go
  backend/go.mod
  backend/go.sum
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/oauth.go
  backend/internal/adapter/db_adapter/queries/create_oauth_auth_code.sql
  backend/internal/adapter/db_adapter/queries/create_oauth_client.sql
  backend/internal/adapter/db_adapter/queries/create_oauth_refresh_token.sql
  backend/internal/adapter/db_adapter/queries/get_oauth_auth_code.sql
  backend/internal/adapter/db_adapter/queries/get_oauth_client.sql
  backend/internal/adapter/db_adapter/queries/get_oauth_refresh_token.sql
  backend/internal/adapter/db_adapter/queries/list_oauth_connections.sql
  backend/internal/adapter/db_adapter/queries/mark_oauth_auth_code_used.sql
  backend/internal/adapter/db_adapter/queries/revoke_oauth_refresh_token.sql
  backend/internal/adapter/db_adapter/queries/revoke_oauth_refresh_tokens_for_connection.sql
  backend/internal/api/handlers/oauth_replay_test.go
  backend/internal/api/handlers/oauth_test.go
  backend/internal/api/router.go
  backend/internal/db/migrations/static/00042_create_oauth_tables.sql
  backend/internal/mcp/server.go
  backend/internal/middleware/auth.go
  backend/internal/middleware/oauth_bearer.go
  backend/internal/mocks/db_adapter.go
  backend/internal/oauth/oauth.go
  backend/pkg/auth/auth.go
  backend/pkg/models/oauth.go
  frontend/app/pages/oauth/consent.vue
  frontend/app/pages/settings/profile/index.vue
Due: lint-nuxt, build-nuxt, build-backend

Fix MCP output schemas, add VAT tools with canEdit guards and MCP tool integration tests
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
Due: build-backend

Add salary CRUD MCP tools with timeline semantics and integration tests
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
Due: build-backend

Add per-organisation category CRUD via API and MCP with in-use delete protection
  backend/internal/adapter/db_adapter/category.go
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/queries/count_transactions_with_category.sql
  backend/internal/adapter/db_adapter/queries/delete_category.sql
  backend/internal/api/handlers/categories.go
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/api/router.go
  backend/internal/mcp/server.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/category.go
Due: build-backend

Document partial-update clearing semantics in update_transaction MCP tool
  backend/internal/mcp/server.go
Due: build-backend

Add organisation, member and VAT setting MCP tools
  backend/internal/mcp/server.go
Due: build-backend

Add forecast exclusion and forecast settings MCP tools
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
Due: build-backend

Make list_forecast_exclusions a global enriched list with names and amounts
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/forecast.go
  backend/internal/adapter/db_adapter/queries/list_all_forecast_exclusions.sql
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
  backend/internal/mocks/api_service.go
  backend/internal/mocks/db_adapter.go
  backend/internal/service/api_service/api_service.go
  backend/internal/service/api_service/forecast.go
  backend/pkg/models/forecast.go
Due: build-backend

Add salary cost and cost label MCP tools plus fiat rates lookup
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
Due: build-backend

Clarify salary cost percentage precision in MCP tool descriptions
  backend/internal/mcp/server.go
Due: build-backend

Return clear MCP errors for missing entities, once-cycle targetDate and unknown fiat base
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
Due: build-backend

Set BACKEND_PUBLIC_URL for production so OAuth discovery advertises api.liquiswiss.ch
  _deployment/docker-compose.yml
Due: none

Make MCP revocation instant, add revoke confirmation and connection guide in profile
  backend/internal/adapter/db_adapter/db_adapter.go
  backend/internal/adapter/db_adapter/oauth.go
  backend/internal/adapter/db_adapter/queries/has_active_oauth_connection.sql
  backend/internal/api/handlers/oauth_test.go
  backend/internal/middleware/oauth_bearer.go
  backend/internal/mocks/db_adapter.go
  docker-compose.yml
  frontend/app/pages/settings/profile/index.vue
  frontend/nuxt.config.ts
Due: lint-nuxt, build-nuxt, build-backend

Allow targetDate as recurrence anchor on recurring salary costs
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/server.go
Due: build-backend

Allow three decimal places for percentage salary cost amounts in dialog
  frontend/app/components/dialogs/SalaryCostDialog.vue
Due: lint-nuxt, build-nuxt

Add update_forecast_settings MCP tool
  backend/internal/mcp/server.go
Due: build-backend

Add fuzzy search with confidence ranking and filters to MCP list tools
  backend/internal/api/handlers/mcp_tools_test.go
  backend/internal/mcp/fuzzy.go
  backend/internal/mcp/fuzzy_test.go
  backend/internal/mcp/server.go
Due: build-backend

Speed up CI by pushing images directly with buildx layer caching
  .github/workflows/ci.yml
Due: none

Bump GitHub Actions to Node 24 compatible versions
  .github/workflows/ci.yml
Due: none

Bump checkout, setup-node and setup-go actions to latest majors
  .github/workflows/ci.yml
Due: none

Bump docker actions to Node 24 compatible majors
  .github/workflows/ci.yml
Due: none

Add external change banner, label live updates and cost dialog URL persistence
  docs/plans/realtime-test-checklist.md
  frontend/app/components/SalaryCard.vue
  frontend/app/components/dialogs/SalaryCostDialog.vue
  frontend/app/components/dialogs/SalaryCostOverviewDialog.vue
  frontend/app/pages/employees/[id]/index.vue
Due: lint-nuxt, build-nuxt

Path conditions:
  lint-nuxt: any of: frontend/**/*
  build-nuxt: any of: frontend/**/*
  build-backend: any of: backend/**/*
